# Credenciais do LinkedIn
LINKEDIN_EMAIL=seu_email@exemplo.com
LINKEDIN_PASSWORD=sua_senha_segura

# Chaves de API (IA)
# Escolha uma e deixe a outra comentada ou vazia dependendo do uso
GEMINI_API_KEY=sua_chave_api_do_google_gemini_aqui
GROQ_API_KEY=sua_chave_api_da_groq_aqui

# Configurações Adicionais
HEADLESS_MODE=False # Coloque True se quiser rodar sem abrir a janela do navegador
